{% extends 'temp_productor.html' %}

{% block title %}
    Mis productos
{% endblock %}

{% block usuario %}
    {{ user[1] }}
{% endblock %}

{% block sidenav %}
<a href="/productor/{{user[2]}}">Panel General</a>
    <a href="/productor/producto/{{user[2]}}">Mis productos</a>
    <a href="#">Pedidos</a>
    <a href="#">Contáctanos</a>
{% endblock %}

{% block body %}

        <section class="content">
            <div class="box box-primary">

                <div class="box-body">
                <table id="dataphone" class="table table-bordered table-striped">
                    <thead align="center">
                    <tr>
                        <th>Categoria</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th>Descripción</th>
                        <th>Valoración</th>
                        <th>Imagen</th>
                        <th>Título</th>
                    </tr>
                    </thead>
        
                    <tbody>
                    {% if data|length == 0 %}
                    <tr>
                        <td>No Data</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% else %}
                    <tr>
                        {% for row in data %}
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                        <td>{{ row[5] }}</td>
                        <td>{{ row[6] }}</td>
                        <td>{{ row[7] }}</td>
                        <td>{{ row[8] }}</td>
                        <td align="center">
                            <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Delete</a>
                            <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Update</a>
                        </td>
                    </tr>

                    {% endfor %}
                    {% endif%}
                    </tbody>
                </table>
                <a href="/productor/anadirProducto/{{user[2]}}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Añadir</a>
                </div>
            </div>
        </section>

{% endblock %}